<div class="container">
  <h3>Battle</h3>
  <div class="grid grid-pad">

    <div>dis is a battle</div>

    <div layout="row">


      <div flex *ngIf="monster">

        <div>Monster:</div>
        <div>name:{{monster.name}}</div>
        <div>hp:{{monster.hp}}</div>
        <div>dmg:{{monster.damage}}</div>
        <div>alive?{{monster.alive}}</div>
        <div>gold:{{monster.gold}}</div>
        <div>mT:{{monster.monsterType}}</div>
        <div>type:{{monster.type}}</div>
        <div>desc:{{monster.description}}</div>
        <div>exp:{{monster.experience}}</div>

      </div>
    </div>

    <button (click)="attack()">attack</button>

  </div>
</div>
