<div *ngIf="hero">
  <h2>Hero details!</h2>
  <div>
    <label>Name: </label>{{hero.name}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
  <div>
    <label>Level: </label>{{hero.heroLevel.level}}
  </div>
  <div>
    <label>currentExp: </label>{{hero.heroLevel.currentExp}}
  </div>
  <div>
    <label>overallExp: </label>{{hero.heroLevel.overallExp}}
  </div>
  <div>
    <label>Exp to next Level: </label>{{hero.heroLevel.expRemain}}
  </div>

  <div>
  <label>Gold: </label>{{hero.gold}}
</div>
  <div>
    <label>Health: </label>{{hero.hp}}
  </div>
  <div>
    <label>Damage: </label>{{hero.damage}}
  </div>
  <div>
    <label>Exp:: </label>{{hero.experience}}
  </div>
  <div>
    <label>alive?: </label>{{hero.alive}}
  </div>


</div>
