<h1>{{title}}</h1>
<hero-detail [hero]="player"></hero-detail>


<div *ngIf="!battle || !battle.active">

<button (click)="startBattle()">Battle</button>
</div>
<div *ngIf="battle && battle.active">
  <pve-battle [battle]="battle"></pve-battle>
</div>









